<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Pagina de Salida</title>
</head>
<body>
    <div class="container">

    <%-include('partials/encabezado.html');%>

    <% 
			
                var subtotal = 0;
				var impuesto = 0;
				var descuento = 0;
				var total = 0;
				var descuento = 0;
                var kilowatC = 0;
                var costo = 0;
                var diastrabajados = 0;

			if(tipo==="Tipo1"){
				costo = 1.08;
                tipo="Licenciatura";

				kilowatC = parseInt(dias, 10);
                subtotal = kilowatC * costo;
				impuesto = subtotal *.16;
				if(kilowatC <= 1000){
					descuento = subtotal * .10;
				}else if(kilowatC > 1000 && kilowatC <= 10000){
					descuento = subtotal * .20;
				}else if(kilowatC > 10000){
                    descuento = subtotal * .50
                }
				
				total = subtotal + impuesto - descuento;
			}else if(tipo==="Tipo2"){
				costo = 2.5;
                tipo="Maestria";

				kilowatC = parseInt(dias, 10);
                subtotal = kilowatC * costo;
				impuesto = subtotal *.16;
				if(kilowatC <= 1000){
					descuento = subtotal * .10;
				}else if(kilowatC > 1000 && kilowatC <= 10000){
					descuento = subtotal * .20;
				}else if(kilowatC > 10000){
                    descuento = subtotal * .50
                }
				
				total = subtotal + impuesto - descuento;
			}else if(tipo === "Tipo3"){
                costo = 3;
                tipo="Doctorado";
				

				kilowatC = parseInt(dias, 10);
                subtotal = kilowatC * costo;
				impuesto = subtotal *.16;
				if(kilowatC <= 1000){
					descuento = subtotal * .10;
				}else if(kilowatC > 1000 && kilowatC <= 10000){
					descuento = subtotal * .20;
				}else if(kilowatC > 10000){
                    descuento = subtotal * .50
                }
				
				total = subtotal + impuesto - descuento;
            }

            
		%>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Grado</th>
                    <th scope="col">Dias Trabajados</th>
                    <th scope="col">Pago por dias</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%=nomCliente%></td>
                    <td><%=tipo%></td>
                    <td><%=dias%></td>
                    <td><%=costo%></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Subtotal</td>
                    <td><%=subtotal%></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Impuesto 16%</td>
                    <td><%=impuesto%></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Descuento</td>
                    <td><%=descuento%></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Total a pagar</td>
                    <td><%=total%></td>
                </tr>
            </tbody>
        </table>

    <%-include('partials/piePagina.html');%>

    </div>
    
</body>
</html>