<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Pagina de entrada</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <%-include('partials/encabezado.html');%>
            </div>
        </div>
        <div class="row">
            <div class="col ">

                <div class="card bg-warning">
                    <form action="" method="post" class="">
                        <div class=" form-group row">
                            <label for="numRecibo" class="col col-form-label">Numero Contrato</label>
                            <div class="col-sm-10">
                            <input type="number" style="width: fit-content;" class="form-control-plaintext border m-1 pr-1" id="numRecibo" name="numRecibo" value="<%=numRecibo%>" required>
                            </div>
                        </div>
                        <div class=" form-group row">
                            <label for="nomCliente" class="col col-form-label">Nombre</label>
                            <div class="col-sm-10">
                            <input type="text" style="width: 30rem;" class="form-control-plaintext border m-1 pr-1" id="nomCliente" name="nomCliente" value="<%=nomCliente%>" required>
                            </div>
                        </div>
                        <div class=" form-group row">
                            <label for="domicilio" class="col col-form-label">Domicilio</label>
                            <div class="col-sm-10">
                            <input type="text" style="width: fit-content;" class="form-control-plaintext border m-1 pr-1" id="domicilio" name="domicilio" value="<%=domicilio%>" required>
                            </div>
                        </div>
                        <div class=" form-group row">
                            <label for="tipo" class="col col-form-label">Nivel de estudios</label>
                            <div class="col-sm-10">
                                <select style="width: 20rem;" class="form-control-plaintext border m-1 pr-1" id="tipo" name="tipo" value="<%=tipo%>">
                                    <option value="Tipo1">Licenciatura</option>
                                    <option value="Tipo2">Maestria</option>
                                    <option value="Tipo3">Doctorado</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class=" form-group row">
                            <label for="pagodiario" class="col col-form-label">Pago diario base</label>
                            <div class="col-sm-10">
                                <input type="number" style="width: fit-content;" class="form-control-plaintext border m-1 pr-1" id="pagodiario"
                                    name="pagodiario" value="<%=pagodiario%>" required>
                            </div>
                        </div>

                        <div class=" form-group row">
                            <label for="dias" class="col col-form-label">Dias Trabajados</label>
                            <div class="col-sm-10">
                                <input type="number" style="width: fit-content;" class="form-control-plaintext border m-1 pr-1" id="dias" name="dias" value="<%=dias%>" required>
                            </div>
                        </div>
                        <hr>                        


                        <div class="row">
                            <div class="col m-2">
                                <button type="submit" class="btn btn-primary">Enviar información</button>
                                <button type="reset" class="btn btn-secondary" id="limpiar" onclick="limpiar()">Limpiar</button>
                            </div>
                            <div class="col">

                            </div>
                            
                        </div>
                    </form>
                </div>
            
            </div>

        </div>
        <div class="row">
            <div class="col">
                <%-include('partials/piePagina.html');%>
            </div>
        </div>
        
    </div>
    
</body>
</html>